/* ------ Fonts ------ */

@import url('https://fonts.googleapis.com/css?family=Muli|Roboto&display=swap');

$font-headings: 'Muli', sans-serif;
$font-base: 'Roboto', sans-serif;

/* ------ Layout ------ */
$font-size-base: 16px;

/* ------ Headings ------ */

/* ------ Animation ------ */

/* ------ Colors ------ */
$brand-primary: #112848;
$slate: #4b4b4b;

$background: #E9E9E9;
$brand-secondary: #FFC30D;

$brand-alt: #2A443B;



$blue-dark: #203242;
$blue-light: #889aa3;
$border: #dddddd;


/* ------ Media breaks ------ */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
